# Environments
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
.venv/
venv/
ENV/
pip-log.txt
pip-delete-this-directory.txt

# Node / JS
node_modules/
/Front-End/node_modules/
/Front-End/dist/
/Front-End/dist-ssr/
.vite/
/Front-End/.vite/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Testing & Logs
.pytest_cache/
*.log
error_log.html
/SU-Backend/error_log.html

# IDEs & OS files
.vscode/
.idea/
.DS_Store
Thumbs.db
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
